@import url("posts.css");

.stat-text {
    /* margin-top: 10%; */
    font-weight: 600;
    padding: 5%;
    font-size: 100%;
    margin: auto;
}

.stat-ans {
    padding: 3%;
    /* margin: auto; */
    align-self: center;
    font-size: 100%;
}

.fixed{
    position: fixed;
}

.stat-con {
    padding: 10%;
    
    font-size: 100%;
    margin : auto;
    margin-top: 10%;
}
